{{define "schedule"}}
<div class="schedule-container" id="schedule-matrix" onmouseup="endSelection()">
    <header>
        <h2>Current Schedule:</h2>
    </header>
    <table class="schedule-table">
        <thead>
            <tr>
                <th scope="col"></th>
                {{range (index . 0).Hours}}
                    <th scope="col">{{.HourLabel}}</th>
                {{end}}
            </tr>
        </thead>
        <tbody>
            {{range $day := .}}
            <tr>
                <th scope="row">{{$day.DayLabel}}</th>
                {{range $hour := $day.Hours}}
                    <td>
                        <div class="interval-wrapper">
                        {{range $index, $interval := $hour.TimeIntervals}}
                            <div class="minute-box" 
                            data-time="{{$interval.TimeString}}"
                            data-day="{{$day.DayLabel}}"
                            onmousedown="startSelection(this)"
                            onmouseenter="dragSelection(this)"
                            title="{{$interval.TimeString}}">&nbsp;</div>
                        {{end}}
                        </div>
                    </td>
                {{end}}
                <th scope="row">
                <span id="counter-{{$day.DayLabel}}">(0.00 hrs)</span>
                </th>
            </tr>
            {{end}}
        </tbody>
    </table>

    <form id="selection-form"
    hx-post="/schedule/select"
    hx-trigger="submit-selection from:body"
    hx-swap="none">
    <input type="hidden" name="selected_slots" id="selected-slots-input">
    </form>

    <script type="text/javascript">
        if (typeof isDragging === 'undefined') {
            var isDragging = false
            var isSelected = false
            var selectedSlots = []
        }

        function startSelection(element) {
            isDragging = true
            if (element.classList.contains('selected')) {
                isSelected = true
            } else {
                isSelected = false
            }
            toggleSlot(element)
        }

        function dragSelection(element){
            if (!isDragging) return
            toggleSlot(element)
        }

        function toggleSlot(element) {
            var identifier = element.dataset.day + "||" + element.dataset.time
            const index = selectedSlots.indexOf(identifier)
            if (isSelected) {
                if (index !== -1) {
                    selectedSlots.splice(index, 1)
                    element.classList.remove('selected')
                }
            } else {
                if (index === -1) {
                    selectedSlots.push(identifier)
                    element.classList.add('selected')
                }
            }
        }

        function endSelection() {
            if (!isDragging) return
            isDragging = false

            document.getElementById('selected-slots-input').value = JSON.stringify(selectedSlots)

            document.body.dispatchEvent(new Event('submit-selection'))
        }
    </script>
</div>
{{end}}